@import "tailwindcss";


:root {
  --background-color-light: #ffffff;
  --text-color-light: #333333;
}

[data-theme='light'] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  
}

:root {
  --background-color-dark: #333333;
  --text-color-dark: #ffffff;
}

[data-theme='dark'] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease; 
}